*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
font-family: 'Courier New', Courier, monospace;
background-color: azure;
}
nav{
background: greenyellow;
height: 80px;
width: 100%;
position: fixed;
}

#logo{
height: 200px;
    
}

#cart{
    height: 25px;
    padding-top: 5px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
} 

 nav ul li a {
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

#travelpic{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    border-radius: 50px;
   

}

.options-container{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    /* border: solid black 5px; */
    margin-top: 40px;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

 a:hover{
background: #E2FDB7;
transition: .5s;

}
.active{
    background: #E2FDB7;
    transition: .5s;
    
    }

.title{
    width: 100%;
    height: 200px;
    /* border: 5px solid; */
    padding-top: 120px;
    
}


#cart-display{
    border: solid red 5px;
    background-color: gainsboro;
    height: auto;
    width: 400px;
    position: absolute;
    right: 0;
    margin-top: 90px;
    position: fixed;
    border-radius: 10px;
    display:none;

  }
  
  #checkout-cart{
    font-weight:bold;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #cart-content-container{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    height: auto;
    width: 330px;
    padding: 3px;
    border: solid black 5px;
    
  }

  select{
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 0.3em 0.5em;
    background: #4d4d4d;
    color: white;
    border: 0;
    
  }

  .date-h1{
    display: inline-block;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
  }

  ::placeholder{
    text-align: center;
    
  }

  button.search{
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 0.3em 0.5em;
    background: #4d4d4d;
    color: white;
    border: 0;
    
  }
  button:hover{
    background: gray;
    transition: .5s;
    cursor: pointer;
  }

  select:hover{
    background: gray;
    transition: .5s;
    cursor: pointer;
  }

  input:hover{
    
    cursor: pointer;
  }

  input{
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 0.3em 0.5em;
   color: black;
    border: 0;
  }

  #range-slider{
    appearance: slider-vertical;
    
  }

  .range-h1{
    display: inline-block;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
  }

  #price-options-container{
    display: flex;
    flex-direction: row;
    margin-left: 420px;
    margin-right: 420px;
    /* border: solid black 5px; */
    margin-top: 3px;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
  }
  #all-hotel-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* border: solid black 3px; */
  }

  .individual-hotel-div{
    /* border: solid gray 2px; */
    border-radius: 2%;

    margin-top: 40px;
    margin-bottom: 40px;

  }

/* for individual hotels display pics */
  .hotel-div-img{
    border-radius: 40px;
    /* width: 800px; */
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: -80px;
    
  }

  .read-only-value{
    /* background-color: azure; */
    width: auto;
  }

  input[type=text]{
    background-color: azure;
    cursor: default;
    width: 100%;
    color: black;
    font-weight: bold;
  }

  input.filter[type=text]{
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 0.3em 0.5em;
    color: black;
    border: 0;
    width: auto;
    background: lightgray;

  }

  input.quantity-input[type=text]{
   width: 80px;
   box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 0.3em 0.5em;
    background: lightgray;
    color: black;
    border: 0;
     border-radius: 25px;
  

  }
  .add-hotel-btn{
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 0.3em 0.5em;
    background: #4d4d4d;
    color: white;
    border: 0;

  }

  .hotel-img-div{
    margin-left: 100px;
  }
  .nodisplay{
    display: none;
  }

  #min-max-div{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  #employee-container{

     /* border: solid orange 5px; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 800px;

  }

  #reservation-container{

  border: solid orange 5px; 
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   height: 800px;
   margin-left: 130px;

 }


  #rooms-container{

    /* border: solid orange 5px; */
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   height: 800px;

 }

  h3.employees-h3{
    text-align: center;
    font-style: italic;
  }



  /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.open-button2 {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 280px;
}

.open-button3 {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 40%;
  right: 40%;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow-x: scroll;
  max-height: 80%;
}

/* The popup form - hidden by default */
.form-popup2 {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup3 {
  display: none;
  position: fixed;
  bottom: 0;
  left: 40%;
  right: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow-x: scroll;
  max-height: 80%;


}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container2 {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container3 {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container2 input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container3 input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container2 input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container3 input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container2 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container3 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container2 .cancel {
  background-color: red;
}

.form-container3 .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container2 .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container3 .btn:hover, .open-button:hover {
  opacity: 1;
}


